<header>
    <!--Part 1-->
    <nav>
        <img src="assets/logo2.svg">
        <ul>
            <li><a href="" class="active">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#experiense">Experiense</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="search">
            <input typr="text" placeholder="search">
            <i class="ri-search-line"></i>
        </div>
    </nav>
    <!--Part 2-->
    <div class="middlePart">
        <div class="aboutMe">
            <h3>I'M <Span>Balaji De La</Span><br>Java Developer<br>Learning UI <3</h3>
            <button>Contact Me</button>
        </div>
        <div class="social">
            <div class="line"></div> <!--this will draw line, will make it happen in css-->
            <i class="ri-facebook-circle-fill"></i>
            <i class="ri-twitter-fill"></i> <!--add ri url in index.html to display this icons-->
            <i class="ri-linkedin-fill"></i>
            <i class="ri-whatsapp-line"></i>
        </div>
    </div>
</header>
<!-- Part 3 -->
<section class="about">
    <h1>About</h1>
    <div class="desc">
        <div class="line"></div>
        <p>As a Java developer skilled in DevOps practices and experienced with SSMS, 
            I bring a strong background in building scalable Java applications while adhering 
            to best practices. Proficient in DevOps, I have automated deployment pipelines and 
            maintained continuous delivery processes. Currently expanding my skill set, 
            <span>I am learning Angular 16 for UI development. </span> 
            This includes a focus on building dynamic and responsive user interfaces 
            using the latest features in the Angular framework.</p>
    </div>
</section>
<!-- Part 4 -->
<section class="skills" id="portfolio">
    <h1>My Skills</h1>
    <div class="line"></div>
    <div class="cards">
        <div class="skill-card">
            <img src="assets/java.svg">
            <h2>JAVA</h2>
        </div>
        <div class="skill-card">
            <img src="assets/ssms.svg">
            <h2>SSMS</h2>
        </div>
        <div class="skill-card">
            <img src="assets/spring.svg">
            <h2>Spring Boot</h2>
        </div>
        <div class="skill-card">
            <img src="assets/angular.svg">
            <h2>Angular</h2>
        </div>
        <div class="skill-card">
            <img src="assets/postman.svg">
            <h2>Postman</h2>
        </div>
        <div class="skill-card">
            <img src="assets/vscode.svg">
            <h2>VS Code</h2>
        </div>
        <div class="skill-card">
            <img src="assets/git.svg">
            <h2>GIT</h2>
        </div>
        <div class="skill-card">
            <img src="assets/nodejs.svg">
            <h2>NodeJS</h2>
        </div>
        <div class="skill-card">
            <img src="assets/mysql.svg">
            <h2>MySQL</h2>
        </div>
        <div class="skill-card">
            <img src="assets/css.svg">
            <h2>CSS</h2>
        </div>
    </div>
</section>
<!-- Part 5 -->
<section class="experiense" id="experiense">
    <h1>Experiense</h1>
    <div class="line"></div>
    <div class="lighter-div">
        <div class="exp">
            <h2>Java Developer</h2>
            <div class="exp-desc">
                <h3>Associate Software Engineer</h3>
                <p>Experienced professional with 1.5 years in Spring Boot app development and Core Java. 
                    Skilled in debugging, Azure DevOps, and SQL Server Management. 
                    Passionate about the latest tech trends, open to new opportunities. 
                    Let's connect and innovate!</p>
            </div>
        </div>
    </div>
</section>

<!-- Part 6 -->
<section class="contact-me" id="contact">
    <h1>Contact Me</h1>
    <div class="line"></div>
    <div class="contact">
        <div class="contact-card">
            <i class="ri-message-3-line"></i>
            <p>balaji24@gmail.com</p>
        </div>
        <div class="contact-card">
            <i class="ri-phone-line"></i>
            <p>95977789600</p>
        </div>
        <div class="contact-card">
            <i class="ri-map-pin-3-line"></i>
            <p>Chennai, India</p>
        </div>
    </div>
</section>